.header{
    width: 100vw;
    min-height: 65px;
    background-color: rgb(25, 16, 44);
    display: flex;
    justify-content: center;
    align-items: center;

    ul{
        display: flex;
        justify-content: center;
        align-items: center;

        li{
            margin-right: 80px;

            &:last-child{
                margin-right: 0;
            }

            a{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 18px;
                font-weight: 500;
                text-decoration: none;
                color: white;

                &:hover{
                    color: grey;;
                }
            }
        }
    }
}